In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('World Cities Data', index_col=False)

In [8]:
df = df[['City', 'Latitude', 'Temperature', 'Humidity', 'Cloudiness', 'Wind Speed']]

In [10]:
df = df.set_index('City')

In [11]:
df.head()

             Latitude  Temperature  Humidity  Cloudiness  Wind Speed
City
Deputatskiy     69.30         9.59        66          80        3.71
Rikitea        -23.12        78.35       100          32        4.94
Hermanus       -34.42        61.79        98          36        4.72
Flin Flon       54.77        10.40        32          20        5.82
Tiksi           71.64         6.66        79          68        4.61

In [12]:
df.to_html('data.html')